<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DSInternals.Common" version="4.7.0" targetFramework="net48" />
  <package id="DSInternals.DataStore" version="4.7.0" targetFramework="net48" />
  <package id="DSInternals.Replication" version="4.7.0" targetFramework="net48" />
  <package id="DSInternals.SAM" version="4.5.0" targetFramework="net48" />
  <package id="LdapForNet" version="2.7.15" targetFramework="net48" />
  <package id="NDceRpc" version="0.2.1.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net48" />
  <package id="PeterO.Cbor" version="4.1.0" targetFramework="net48" />
  <package id="PeterO.Numbers" version="1.5.1" targetFramework="net48" />
  <package id="PeterO.URIUtility" version="1.0.0" targetFramework="net48" />
  <package id="protobuf-net" version="2.4.4" targetFramework="net48" />
</packages>